<div class="container mt-5">
  <h1>Index</h1>
 <div class="container cards mt-2">
     <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
     <% end %>
     <%= link_to "Add New", new_cocktail_path , class:'btn btn-primary mt-2' %>
 </div>
</div>
