<div class="container mt-5">
  <h1>Add New Dose</h1>
     <%= simple_form_for [ @cocktail, @dose ] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient %>
      <%= f.submit "Save Dose to #{@cocktail.name}", class: 'btn btn-primary' %>
    <% end %>
</div>
